<form action="payment" method="POST"> 
    <script 
       src="//checkout.stripe.com/v2/checkout.js"
       class="stripe-button"
       data-key="<%= key %>" 
       data-amount="100" 
       data-currency="inr" 
       data-name="sandeep" 
       data-description="CityCourier" 
       data-locale="auto" > 
     </script> 
 </form> 