<div class="container">
    <form>
        <div class="card" style="margin:auto">
            <div class="card-body">
                <div class="value">
                    <p><b>House no., Flat, Bulding:</b><br /></p>
                    <input type="text" name="houseno" />
                </div>
                <div class="btnEdit">
                    <button type="button" class="btn btn-primary btn-sm">Edit</button>
                </div>
            </div>
            <hr />
            <div class="card-body">
                <div class="value">
                    <p><b>Area, Colony, Street:</b><br /></p>
                    <input type="text" name="area" />
                </div>
                <div class="btnEdit">
                    <button type="button" class="btn btn-primary btn-sm">Edit</button>
                </div>
            </div>
            <hr />
            <div class="card-body">
                <div class="value">
                    <p><b>Landmark:</b><br /></p>
                    <input type="text" name="landmark" />
                </div>
                <div class="btnEdit">
                    <button type="button" class="btn btn-primary btn-sm" \>Edit</button>
                </div>
            </div>
            <hr />
            <div class="card-body">
                <div class="value">
                    <p><b>City/Town:</b><br /></p>
                    <input type="text" name="city" />
                </div>
                <div class="btnEdit">
                    <button type="button" class="btn btn-primary btn-sm">Edit</button>
                </div>
            </div>
            <hr />
            <div class="card-body">
                <div class="value">
                    <p><b>Zip Code:</b><br /></p>
                    <input type="text" name="zip" />
                </div>
                <div class="btnEdit">
                    <button type="button" class="btn btn-primary btn-sm">Edit</button>
                </div>
            </div>
            <hr />
            <div class="card-body">
                <div class="value">
                    <p><b>State:</b><br /></p>
                    <input type="text" name="state" />
                </div>
                <div class="btnEdit">
                    <button type="button" class="btn btn-primary btn-sm">Edit</button>
                </div>
            </div>
            <hr />
        </div>
        <button type="submit" class="btn btn-primary btn-sm m-2">Update</button>
    </form>
</div>