<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Sign in</h5>
                    <form class="form-signin" action="/user/signin" method="POST">
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address"
                                name="email" required>
                        </div>
                        
                        <div class="form-label-group">
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                                name="password" required>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                        <a class="mt-2 small" href="/user/forgotPassword">Forgot password</a>
                        <a class="mt-2 small" style="float: right;" href="/user/signup">Register</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>